@font-face {
  font-family: 'Mona Sans';
  src:
    url('../fonts/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../fonts/MonaSans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

.mainscreen-main{
  display: flex;
  overflow: hidden;
}

.leftside-main{
  display: flex;
  flex-direction: column;
  background:#EEE2DE;
  color: rgb(14, 35, 54);
  position: relative;
  width: 40%;
  height: 100vh;
  align-items: center;
}

.header-main{
  display: flex;
}


.data_img{
  height: 40%;
  width: 70%;
  margin-top: 10%;
}

.notes-btn{
  width: auto;
  padding: 10px 20px;
  margin:10px;
  border: none;
  background-color: blue;
  color: aliceblue;
  font-weight: 700;
  cursor: pointer;
}

.rightside-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #1C1427;
    color: #F1F0E8;
    width: 60%;
    text-align: center;
  }

.rightside-main p {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 0%;
  margin-bottom: 12%;
}

.rightside-main h1{
  position: relative;
  margin-top: 0;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
} 

.plus_button,.minus_button{
  width: auto;
  padding: 10px 20px;
  margin:10px;
  border: none;
  background-color: blue;
  color: aliceblue;
  font-weight: 900;
  cursor: pointer;
}

.submit_button{
  width: auto;
  padding: 10px 20px;
  margin:10px;
  border: none;
  background-color: blue;
  color: aliceblue;
  font-weight: 700;
  cursor: pointer;
}

.selectors {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}

.option_selector {
  width: 45%;
  padding: 10px;
  color: #fff;
  background-color: #555;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}

.option_selector option {
  color: #000;
  background-color: #fff;
}

@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}
