.mainscreen {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top:-50vh ;
    color:azure;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .plus_button{
    width: auto;
    padding: 10px 20px;
    margin:10px
  }

  .minus_button{
    width: auto;
    padding: 10px 20px;
    margin:10px
  }

  .submit_button{
    width: auto;
    padding: 10px 20px;
    margin:10px
  }
  
  /* Add media query for responsiveness */
  @media (max-width: 600px) {
    .buttons {
      flex-direction: column;
      align-items: center;
    }
  }
  